@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "solaiman";
  src: url("./fonts/SolaimanLipi.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  body {
    @apply font-solaiman font-normal relative;
  }
}

/* Hover In Navbar */

.navbar {
  position: relative;
}
.navbar::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar:hover::before {
  transform: scaleX(1);
}
